@import "base";
img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.grey {
    border-left: 1px solid #686868;
}
.white {
    border-left: 1px solid #fff;
}
.none {
    z-index: -1;
}
@import "comp/_hero";
@import "comp/_header";
@import "comp/_about";
@import "comp/_skills";
@import "comp/_works";
@import "comp/_exp";
@import "comp/_footer";
@import "_media";