@import "base";
img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.blue {
    background-color: #303249;
}
.hero {
    margin: 0;
    background-color: #FCFEF7;
    transition: 0.4s;
    padding: 55px 0 0 0;
}
.hero.blue {
    background-color: #303249;
    p {color: #fff;}
}
.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p {transition: 0.4s;}
}

.hero__image {
    max-width: 50%;

}
.separator {
    content: '';
    border-left: 1px solid #D9D9D9;
    height: 21.8rem;
    width: 20px;
    text-align: center;
    position: relative;
}
.hero__text-content {
    margin-right: 2.5rem;
    p {
        color: #4D4D4D;
        font-size: 1.5rem;
    }
    max-width: 50%;

}

header {
    background-color: #303249;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p{
    color: #fff;
}
.header__nav,.footer__nav {
    ul {
        display: flex;
        gap: 35px;
    }
    a {color: #fff;}
    li:hover {
        cursor: pointer;
    }
}
.header__link {
    color: #fff;
}
.burger {display: none;}

.about__flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.about__separator {
    height: 12rem;
}
.title {
    text-align: center;
    padding: 40px 0;
}
.about__text-content {
    padding-left: 15px;
    max-width: 60%;
    border-left: 1px solid #D9D9D9;
}
.about__image { 
    img{
    width: 250px;
}
}

.skills__list {
    padding-top: 40px;
    ul  {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
    }
}
.skills__item {
    padding: 5px 0;

}
.item__title {
    display: flex;
    justify-content: space-between;
}
.item__text-content {
    height: 5rem;
}

.progress-bar {
    height: 10px;
    max-width: 150px;
    background: linear-gradient(to right, #303249 60%, #D9D9D9 20%);
    margin: 5rem auto 0 auto;
}
.progress__html {
    background: linear-gradient(to right, #303249 80%, #D9D9D9 20%);
}
.progress__css {
    background: linear-gradient(to right, #303249 60%, #D9D9D9 20%);
}
.progress__vc {
    background: linear-gradient(to right, #303249 80%, #D9D9D9 20%);
}
.progress__js {
    background: linear-gradient(to right, #303249 50%, #D9D9D9 20%);
}

.works__cards {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    height: 15rem;
}

.works__card {
    max-width:30%;
    transition: all 0.4s ease;
    img {
        max-width: 100%;
        -o-object-fit: contain;object-fit: contain;
    
    }
    &:hover {
        max-width: 400px;
    }
}
/*
.works-card__img {
    img {
        width: 250px;
        border-radius: 20px;
        -webkit-filter: blur(2px);
                filter: blur(2px);
    }
}

.big-card {
    img {
        width: 350px;
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }
}

.works-card__text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 40px;
    p {
        margin: 0;
        padding-top: 7px;
        text-align: center;
    }
}
*/
.grey {
    border-left: 1px solid #686868;
}
.white {
    border-left: 1px solid #fff;
}
.experience {
    background-color: #D9D9D9;
    
}
.ellipse-block {
    content: '';
    border-left: 1px solid #D9D9D9;
    width: 20px;
    height: 285px;

    position: relative;
    border: 1px solid red;
}
.ellipse {
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
    border: 1px solid #000;
}
.experience__text-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.experience__menu {
    width: 50%;
    .dont-flex {
        width: 20rem;
    }
    li {
        padding: 5px;
        transition: all 0.4s ease;
        border-bottom: 1px solid #000;
        cursor: pointer;
        &:hover {
            h3,p ,p:first-child{color: #fff;}
            background: #303249;
        }
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
        max-width: 100%;
        img {
            display: flex;
            justify-content: flex-end;
        }
    p   {  
        font-weight: 600;
        margin: 0;
        padding-top: 10px;
    }
    p:first-child {
        font-size: 1.5rem;
        color: #000;
    }
    h3 {
        font-size: 1.25rem;
    }
}
}
.experience__menu-img{
    display: flex;
    justify-self:flex-end;
}
.experience__info {
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.arrowDown {
    transition: all 0.4s ease;
    margin: 5px;
}
.rotate {
    transition: (90deg);
}
.none {
    display: none;
}

footer {
    background-color: #686868;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 1.7rem;
    a {
        font-weight: 600;
    color: #fff;
    font-size: 14px;
    }
}
.footer__horiz ,.footer__horiz ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info p{
    padding: 0;
    margin: 0;
}
.footer__social ul{
    display: flex;
    padding-top: 20px;
    gap: 30px;
}


@import "_media";